@font-face {
  font-family: "Ariom-regular";
  src: url("./fonts/ariom/Ariom\ Regular.ttf");
}
@font-face {
  font-family: "Ariom-regular-italic";
  src: url("./fonts/ariom/Ariom\ RegularItalic.ttf");
}

@font-face {
  font-family: "Ariom-UltraBold";
  src: url("./fonts/ariom/Ariom\ UltraBold.ttf");
}

@font-face {
  font-family: "ApocTrial-Hairline";
  src: url("./fonts/apoc/ApocTrial-Hairline.otf");
}
@font-face {
  font-family: "ApocTrial-HairlineItalic";
  src: url("./fonts/apoc/ApocTrial-HairlineItalic.otf");
}

@font-face {
  font-family: "IBMPlexMono-Regular";
  src: url("./fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf");
}

@font-face {
  font-family: "IBMPlexMono-Light";
  src: url("./fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf");
}

@font-face {
  font-family: "IBMPlexMono-Bold";
  src: url("./fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf");
}

:root {
  --font-prm-regular: "Ariom-regular";
  --font-prm-regular-i: "Ariom-regular-italic";
  --font-prm-ultraBold: "Ariom-UltraBold";

  --font-second-hairline: "ApocTrial-Hairline";
  --font-second-harline-i: "ApocTrial-HairlineItalic";

  --font-third-regular: "IBMPlexMono-Regular";
  --font-third-light: "IBMPlexMono-Light";
  --font-third-bold: "IBMPlexMono-Bold";
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.color-white {
  color: #ffffff;
}

.color-black {
  color: #000000;
}

.color-orange {
  color: #e77019;
}

.font-size-full {
  font-size: 100vw;
  line-height: 1;
}

.font-second-hairline-title {
  font-family: var(--font-second-hairline);
  font-weight: normal;
  font-size: 7.8%;
  color: #639641;
  text-transform: uppercase;
  text-align: center;
}

.container {
  max-width: calc(85% + 24px);
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}

.pss-relative {
  position: relative;
}

.font-prm-ultrabold-24 {
  font-family: var(--font-prm-ultraBold);
  font-size: 24px;
  text-transform: uppercase;
}

.hd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-top: 15px;
}

.hd__logo img {
  width: 145px;
  height: 40px;
  object-fit: contain;
}

.hd__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hd__menu {
  display: flex;
}

.hd__menu li {
  margin: 0 25px;
}

.hd__menu li a {
  font-family: var(--font-prm-regular), sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #000000;
}

.oriental-beauty {
  position: relative;
  width: 100%;
  padding-top: 61.5625%;
}

.oriental-beauty__image {
  position: absolute;
  inset: 0 0;
  z-index: 5;
}

.oriental-beauty__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.about-us,
.judges {
  background-color: #11100e;
}

.about-us__title {
  padding-bottom: 7rem;
}

.about-us__content {
  max-width: 1048px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}

.about-us__ct-item {
  display: flex;
  padding-bottom: 7rem;
}

.about-us__col-1 {
  min-width: 280px;
  font-family: var(--font-prm-ultraBold);
  font-size: 24px;
  text-transform: uppercase;
  color: #e77019;
}

.about-us__col-2 {
  height: 1px;
  flex: 1;
  margin-right: 25px;
  background-color: #e77019;
  transform: translateY(15px);
}

.about-us__col-3 {
  width: 100%;
  font-family: var(--font-third-regular);
  font-size: 16px;
  max-width: 480px;
  color: #cfcfcf;
}

.about-us__col-3--bold {
  font-family: var(--font-third-bold);
  font-size: 22px;
  text-transform: uppercase;
}

.judges__title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.judges__image img {
  width: 100%;
  height: auto;
  display: block;
}

.judges__content {
  position: absolute;
  bottom: 0;
  right: 10%;
  max-width: 574px;
  padding: 0 12px;
  width: 100%;
}

.judges__list {
  display: flex;
  flex-wrap: wrap;
}

.judges__list li {
  width: 50%;
  margin-bottom: 10px;
}

.judges__content-title {
  margin-bottom: 40px;
}

.middle__image img {
  width: 100%;
  height: auto;
  display: block;
}

.countdown,
.submission,
.final {
  background-color: #11100e;
}

.countdown__content {
    padding-bottom: 7rem;
}

.countdown__content-inner {
  padding-bottom: 7rem;
}

.countdown__group {
  font-size: 100vw;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.countdown__group::after {
  content: "";
  position: absolute;
  top: 0;
  left: -1%;
  width: calc(103%);
  height: calc(148%);
  border: 2px solid #e77019;
  transform: rotateZ(-8deg) translateY(-21%);
  border-radius: 50%;
}

.countdown__time {
  font-size: 15%;
  color: #e77019;
  font-family: var(--font-prm-regular-i);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown__title {
  margin-bottom: 12rem;
}

.countdown__time:not(:first-child) {
  position: relative;
}

.countdown__time:not(:first-child)::after {
  content: ":";
  position: absolute;
  left: -20%;
}

.countdown__time span {
  display: block;
}

.countdown__time-label {
  font-size: 30px;
  font-family: var(--font-prm-regular);
  color: #ffffff;
  text-transform: uppercase;
}

.submission__main {
    padding-bottom: 12rem;
}

.submission__title {
    padding-bottom: 7rem;
}

.submission__item-thumb {
  position: relative;
  padding-top: 63%;
  background-color: #e77019;
  margin-bottom: 35px;
}

.submission__item-desc {
  text-align: center;
  color: #ffffff;
}

.submission__item-name {
  font-family: var(--font-third-bold);
  font-size: 22px;
  text-transform: uppercase;
}

.submission__item-applicant {
  font-family: var(--font-third-regular);
  font-size: 16px;
  margin-bottom: 10px;
}

.submission__item-vote-num {
    font-family: var(--font-third-light);
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.submission__item-btn-vote {
  font-family: var(--font-second-harline-i);
  font-size: 35px;
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  padding: 12px 50px;
  border-radius: 50%;
  background-color: #e77019;
}

/* the slides */
.submission__list .slick-slide {
  margin: 0 25px;
}

/* the parent */
.submission__list .slick-list {
  margin: 0 -25px;
}

.submission__list .slick-prev::before,
.submission__list .slick-next::before {
  content: none;
}

.submission__list .slick-prev,
.submission__list .slick-next {
  width: 15px;
  height: 30px;
  z-index: 10;
  top: 34%;
  border: none;
  font-size: 0;
}

.submission__list .slick-prev {
  background: no-repeat center/contain url("../images/arrow-left.png");
  left: -23px;
}

.submission__list .slick-next {
  background: no-repeat center/contain url("../images/arrow-right.png");
  right: -23px;
}

.final__title {
    font-family: var(--font-prm-ultraBold);
    font-size: 33px;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 55px;
}

.final__desc {
    font-family: var(--font-third-regular);
    font-size: 16px;
    color: #efefef;
    margin-top: auto;
}

.final__desc a {
    color: #efefef;
}

.final__desc a:hover {
    text-decoration: underline;
}

.final__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10rem;
}

.final__content-left {
    width: 48.7%;
}

.final__content-left img {
    width: 100%;
    height: auto;
}

.final__content-right {
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1200px) {
}

@media (hover: hover) {
  .hd__menu li a:hover {
    text-decoration: underline;
  }
}

@media (hover: none) {
  .hd__menu li a:hover {
    text-decoration: none;
  }
}

@media (max-width: 768px) {
    .judges__content {
        position: static;
        margin: 0 auto;
    }

    .font-prm-ultrabold-24 {
        font-size: calc(0.75rem + 0.851vw);
    }

    .countdown__time-label {
        font-size: calc(0.75rem + 1.85vw);
    }

    .submission__list .slick-prev {
        left: -4%;
      }
      
      .submission__list .slick-next {
        right: -4%;
      }
}

/* @media (orientation: landscape) {
  .font-second-hairline-title {
    font-size: calc(5rem + 3vw);
  }
}

@media (orientation: portrait) {
  .font-second-hairline-title {
    font-size: calc(2rem + 3vw);
  }
} */
